<nav class="mw8 center pl4 pr4 mt4 mt5-ns mb4">
    <a class="db mb4 mb0-ns dib-ns f3 b no-underline dark-gray" href="/" title="Home">N&mdash;</a>
    <!-- <a class="db link underline-hover mb4 mb0-ns dib-ns no-underline dark-gray" href="/" title="Home">Nathan Roberts</a> -->
    <div class="dib fr-ns pt1-ns">
      {% assign current = page.url | downcase | split: '/' %}
      <a class="link underline-hover dark-gray dib mr4 v-mid {% if current[1] == 'work' %} underline {% endif %}" href="/work" title="Work">Work</a>
      <a class="link underline-hover dark-gray dib mr4 v-mid {% if current[1] == 'about' %} underline {% endif %}" href="/about" title="About">About</a>
      <a class="link underline-hover dark-gray dib v-mid {% if current[1] == 'contact' %} underline {% endif %}" href="/contact" title="Contact">Contact</a>
    </div>
  </nav>
