body {
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#triangle, #circle, #square, #diamond, #line {
  position: absolute;
  z-index: -1;
  /*display: none;*/
}

#triangle {
  top: 720px;
  left: 15%;
}

#circle {
  top: 680px;
  right: 0;
}

#square {
  top: 20px;
  left: 50%;
  transform: rotate(-15deg);
}

#diamond {
  top: 90px;
  left: 75%;
}

#line {
  top: 60px;
  left: 80%;
}

.link {
  color: #131313;
  font-size: 1.125rem;
}

.seafoam {
  color: #5FBAFF;
}

.owl-nav {
  text-align: center;
}

.owl-prev, .owl-next {
  display: inline-block;
}

.seafoam-bg {
  background-color: #5FBAFF;
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #131313;
}

h1 {
  font-size: 1.875rem;
  color: #131313;
}

h1.hero {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-top: 3.15rem;
}

h2 {
  font-size: 1.425rem;
  color: #131313;
}

.breadcrumb {

}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p a {
  text-decoration: none;
  color: #5FBAFF;
  font-weight: bold;
}

.cta {
  margin-top: 1rem;
  transition: ease-in-out box-shadow 0.2s;
}

.cta:hover {
    box-shadow: 0 0.3em 0.5em -0.2em rgba(100,100,100,0.25), 0 1em 2em -0.75em rgba(100,100,100,0.25), 0 1em 3em -0.5em rgba(100,100,100,0.25);
}

.cta a {
  color: #fff;
}

.cta a:hover {
  text-decoration: none;
  background: #5FBAFF;
}

p a:hover {
  text-decoration: underline;
}
.cf h2 {
  margin-bottom: 0;
}

.cf p {
  margin-top: 0.225rem;
  /*margin-bottom: 2rem;
  line-height: 1.75rem;
  font-size: 1.125rem;
  color: #131313;*/
}

.aspect-ratio--4x5 {
  padding-bottom: 125%;
}

.shadow {
  box-shadow: 0 0.3em 0.5em -0.2em rgba(100,100,100,0.25), 0 1em 2em -0.75em rgba(100,100,100,0.25), 0 1em 3em -0.5em rgba(100,100,100,0.25);
}

li {
  transition: ease-in-out box-shadow 0.2s;
}

li:hover {
  box-shadow: 0 0.3em 0.5em -0.2em rgba(100,100,100,0.25), 0 1em 2em -0.75em rgba(100,100,100,0.25), 0 1em 3em -0.5em rgba(100,100,100,0.25);
}

.wider {
  margin-left: -5rem;
  margin-right: -5rem;
}
