---
layout: default
---
<div class="mw7 center ph4">
  <div class="cf">
    <h1 class="mt5 mb3 dark-gray">{{ page.title | escape }}</h1>
  </div>
</div>

<div class="mw7 center mb4 ph4">
  <div class="cf">
    {{content}}
  </div>
</div>


<div class="mw7 center mt2">
  <div class="cf">
    <h2 class="ml4 mr4" style="b">Other work</h2>
    <ul class="worklist">
      <li class="ma3 mh0-l mb3-ns">
        {% if page.url == "/work/oakley/" %}
        <a href="/work/experian" class="dib no-underline w-100 pt3 ph4 br2" style="background-color: #F6F5FF;">
          <h2 class="f4 f3-m f3-l mb1">Experian</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4">Innovative financial products with a human-centered approach</p>
        </a>
        {% elsif page.url == "/work/experian/" %}
        <a href="/work/oakley" class="dib no-underline w-100 pt3 ph4 br2" style="background-color: #E6FFF5;">
          <h2 class="f4 f3-m f3-l mb1">Oakley</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4">Apps and e-commerce for an iconic sports brand</p>
        </a>
        {% endif %}
      </li>
    </ul>
  </div>
</div>
