---
layout: default
---
<div class="mw7 center ph4">
  <div class="cf">
    <a href="/work" class="breadcrumb dib mt4 mb4 b no-underline underline-hover seafoam">&larr; All work</a>
    <h1 class="mt5 mb0 dark-gray">{{ page.title | escape }}</h1>
    <p class="f4-l lh-copy mt2">Ecommerce and more for brand and billions</p>
  </div>
</div>

<div class="mw7 center mb6 ph4">
  <div class="cf">
    {{content}}
    <a href="/work" class="breadcrumb dib mt4 mb4 b no-underline underline-hover seafoam">&larr; All work</a>
  </div>
</div>
