---
layout: default
---

<div class="mw7 center ph4 mt6 db">
  <div class="cf">
    <p class="pinned">Google Design Exercise <span>Nathan Roberts</span></p>
  </div>
</div>


<div class="mw7 center ph4 mt6 db">
  <div class="cf tc">
    <img class="staricon" src="/assets/img/exercise/icon.jpg" alt="">
    <h1>ServeBetter <span>Track your reviews,<br>improve your server skills<br> and land your next gig</span></h1>
  </div>
</div>

<div class="mw8 center ph4">
  <div class="cf">
    <img class="mt4" src="/assets/img/exercise/hero.jpg" alt="">
  </div>
</div>

<div class="mw7 center ph4 mt6 db">
  <div class="cf">

    {{content}}
  </div>
</div>
