---
layout: default
---
<div class="mw7 center ph4">
  <div class="cf">
    <h1 class="mt4 mb3 db dark-gray">{{ page.title | escape }}</h1>
    {{content}}
  </div>
</div>

<!-- {% if page.url == "/about/" %}
<div class="mw7 center mt3">
  <div class="cf">
    <ul class="worklist">
      <li class="ma3 mh0-l mb3-ns">
        <a href="/assets/docs/nathan_roberts_resume.pdf" class="dib no-underline w-100 pt3 ph4" style="background-color: #E1EDFF;">
          <h2 class="f4 f3-m f3-l mb1">Résumé (PDF)</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4">A high-level career and experience overview</p>
        </a>
      </li>
    </ul>
  </div>
</div>
{% endif %} -->
