---
layout: default
title: Work
permalink: /work/
---
<div class="mw7 center ph4">
  <div class="cf">
    <h1 class="mt4 mb3 db dark-gray">{{ page.title | escape }}</h1>
  </div>
</div>

<div class="mw7 center mt0">
  <div class="cf">
    <ul class="worklist">
      <li class="ma3 mh0-l mb3-ns">
        <a href="/work/eresolve" class="dib no-underline w-100">
          <div style="width: 100%; padding-bottom: 64%; background-color: white; background-image: url('/assets/img/experian/placeholder.jpg'); background-size: cover;"></div>
          <h2 class="f4 f3-m f3-l mt3 mb1 ph4">eResolve</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4 ph4">A human-centered approach to debt collection</p>
        </a>
      </li>
      <li class="ma3 mh0-l mb3-ns">
        <a href="/work/radar-pace" class="dib no-underline w-100">
          <div style="width: 100%; padding-bottom: 64%; background-color: white; background-image: url('/assets/img/oakley/placeholder.jpg'); background-size: cover;"></div>
          <h2 class="f4 f3-m f3-l mt3 mb1 ph4">Radar Pace</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4 ph4">Real-time, voice-activated coaching</p>
        </a>
      </li>

      <li class="ma3 mh0-l mb3-ns">
        <a href="/work/custom" class="dib no-underline w-100">
          <div style="width: 100%; padding-bottom: 64%; background-color: #EFEFEF; background-image: url('/assets/img/oakley/custom-poster-01.jpg'); background-size: cover;"></div>
          <h2 class="f4 f3-m f3-l mt3 mb1 ph4">Oakley Custom</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4 ph4">Optimizing a web app for mobile</p>
        </a>
      </li>

      <li class="ma3 mh0-l mb3-ns">
        <a href="/work/voia" class="dib no-underline w-100">
          <div style="width: 100%; padding-bottom: 64%; background-color: #EFEFEF; background-image: url('/assets/img/experian/voia-poster-01.jpg'); background-size: cover;"></div>
          <h2 class="f4 f3-m f3-l mt3 mb1 ph4">Income and Asset Verification</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4 ph4">Digital verification of income/assets in lending</p>
        </a>
      </li>

      <li class="ma3 mh0-l mb3-ns">
        <a href="/work/text-for-credit" class="dib no-underline w-100">
          <div style="width: 100%; padding-bottom: 64%; background-color: #EFEFEF; background-image: url('/assets/img/experian/text-for-credit-poster-01.jpg'); background-size: cover;"></div>
          <h2 class="f4 f3-m f3-l mt3 mb1 ph4">Text for Credit</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4 ph4">Pre-qualify for credit with a text message</p>
        </a>
      </li>

      <li class="ma3 mh0-l mb3-ns">
        <a href="/work/lens-guide" class="dib no-underline w-100">
          <div style="width: 100%; padding-bottom: 64%; background-color: #EFEFEF; background-image: url('/assets/img/oakley/lens-guide-poster-01.jpg'); background-size: cover;"></div>
          <h2 class="f4 f3-m f3-l mt3 mb1 ph4">Lens Guide</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4 ph4">Clarifying Oakley's lens options</p>
        </a>
      </li>

      <!-- <li class="ma3 mh0-l mb3-ns mt4">
        <a href="/assets/docs/nathan_roberts_resume.pdf" class="dib no-underline w-100 shadow">
          <h2 class="f4 f3-m f3-l mt4 mb1 ph4">Résumé (PDF)</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4 ph4">A high-level career and experience overview</p>
        </a>
      </li> -->
    </ul>
  </div>
</div>

<!-- <div class="mw7 center mt4 ph4">
  <div class="cf">
    {{content}}
  </div>
</div> -->
