---
layout: default
title: Work
permalink: /work/
---
<div class="mw7 center ph4">
  <div class="cf">
    <h1 class="mt5 mb0 db dark-gray">{{ page.title | escape }}</h1>
  </div>
</div>

<div class="mw7 center mt2">
  <div class="cf">
    <ul class="worklist">
      <li class="ma3 mh0-l mb3-ns">
        <a href="/work/experian" class="dib no-underline w-100 pt3 ph4 br2" style="background-color: #E8F5FF;">
          <h2 class="f4 f3-m f3-l mb1">Experian</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4">Innovative financial products with a human-centered approach</p>
        </a>
      </li>
      <li class="ma3 mh0-l mb3-ns">
        <a href="/work/oakley" class="dib no-underline w-100 pt3 ph4 br2" style="background-color: #E6FFF5;">
          <h2 class="f4 f3-m f3-l mb1">Oakley</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4">Apps, e-commerce and marketing for an iconic sports brand</p>
        </a>
      </li>

      <li class="ma3 mh0-l mb3-ns">
        <a href="#" class="dib no-underline w-100 pt3 ph4 br2" style="background-color: #f8f8f8;">
          <h2 class="f4 f3-m f3-l mb1">Résumé (PDF)</h2>
          <p class="f4-l lh-copy mt0 dark-gray mb4">A high-level career and experience overview</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="mw7 center mt4 ph4">
  <div class="cf">
    {{content}}
  </div>
</div>
